
.icon-users:before { content: '\e808'; } /* '' */
.icon-attach:before { content: '\e802'; } /* '' */
.icon-info-1:before { content: '\e800'; } /* '' */
.icon-vcard:before { content: '\e805'; } /* '' */
.icon-right-open-mini:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\e807'; } /* '' */
.icon-install:before { content: '\e806'; } /* '' */
.icon-stethoscope:before { content: '\e801'; } /* '' */