// Major Breakpoints
$bp1: 30em;
$bp1-5: 38em;
$bp2: 48em;
$bp2-5: 55em;
$bp3: 62em;
$bp4: 78em;

// Colours
$color-brand: #02899e;
$color-brand-alt: #023550;
$color-text: $color-brand-alt;
$color-highlight: #ff520d;
$color-highlight-alt: #58B83E;
$color-background: #066372;
$color-background-alt: #fafafa;

$color-link: $color-highlight;
$color-link-visited: $color-highlight;
$color-link-hover: darken($color-highlight, 10%);

// Typography
$baseline: 1.7em;
$font-heading: "brandon-grotesque", "Brandon Grotesque", sans-serif;
$font-sans: "proxima-nova", "Proxima Nova", sans-serif;
$font-serif: "ff-meta-serif-web-pro", serif;

// Borders
$color-keyline: #f0f0f0;
$color-keyline-alt: darken($color-keyline, 5%);

// Layout
$container-max-width: 68.5em;
$media-img-gutter: 2em;
$island-padding: 1.5em;
$islet-padding: $island-padding / 2;

// Off canvas
$ofc-width-large: 80%;
$ofc-width-small: 40%;

// Asset fonts
$icon-font-url: "../fonts/tarva";
$icon-font-family: "tarva";