/* Container / Inner
----------------------------------*/

.outer {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.footer--push {
	flex: 1;
}

.container {
	margin: 0 auto;
	width: 85%;
	min-width: 15em;
	max-width: $container-max-width; }

.content__container {
	margin-top: 4em;
	position: relative;
	margin-bottom: 4em;
	@include respond-max($bp2) {
		margin-top: 2em;
	}
} 

/* Grids (Griddle - http://goo.gl/P1JKB)
----------------------------------*/
@import "../libs/_griddle";

/* Off canvas
----------------------------------*/
@import "../libs/_off-canvas";

// Create 2, 3, 6 and 12 column grids
@include griddle-build(2);

@include respond-min($bp1) {
	@include griddle-build(2 3, "--bp1");
}
@include respond-min($bp2) {
	@include griddle-build(2 3 4, "--bp2");
}	
@include respond-min($bp3) {
	@include griddle-build(2 3 4 5 6 12, "--bp3");
}	
@include respond-min($bp4) {
	@include griddle-build(2 3 4 5 6 12, "--bp4");
}

/* Logo
----------------------------------*/

.logo {
	max-width: 18em;
	width: 75%;
	padding: 0 1.25em;
	@include respond-max($bp2) {
		float: left;
		max-width: 6em;
		padding: .75em 1.5em;
	}
}

/* Sidebar
----------------------------------*/

.sidebar {
	padding: 2em 0;
	position: relative;
	background-color: $color-brand;
	@include respond-min($bp2) {
		height: 100%;
		width: 25%;
		left: 0;
		@include box-sizing(border-box);
		position: fixed;
	}
	@include respond-min($bp4) {
		width: 20%;
	}
	@include respond-max($bp2) {
		padding: 0;
	}
}

/* Content
----------------------------------*/

.content {
	height: 100%;
	overflow-x: hidden;
	background-color: white;
	@include respond-min($bp2) {
		width: 75%;
		float: right;
		@include box-sizing(border-box);
	}
	@include respond-min($bp4) {
		width: 80%;
	}
	h2 {
		&:after {
			content: "";
			width: 110%;
			margin-top: .25em;
			margin-bottom: .25em;
			height: 1px;
			background-color: #ccc;
			display: block;
			position: absolute;
			@include respond-max($bp2) {
				position: relative;
			}
		}
	}
}

.content__header {
	position: relative;
	height: 17em;
	@include background-size(cover);
	background-position: center;
	@include respond-max($bp2) {
		height: 12em;
	}
}

.header-video {
	width: 100%;
	height: 20em;
	@include respond-max($bp1) {
		height: 12em;
	}
}

.intro-text {
	margin-bottom: $baseline;
}

.blog-date {
	float: right;
	margin-top: 0;
	vertical-align: bottom;
	margin-bottom: 0;
	padding-top: .4em;
}

.listing {
	margin-bottom: $baseline;
}

.listing-title {
	margin-top: 0;
}