/* Media Object - http://goo.gl/Xf6MJ
----------------------------------*/

.media {
	margin-bottom: $baseline;
	@extend .cf; }
	
.media__img img,
img.media__img {
	margin-bottom: $baseline;
	
	@include respond-min($bp2) {
		margin-bottom: 0; }	
}


.media__body {	
	@include respond-min($bp2) {
		overflow: hidden;
	}

	&:last-child{
		margin-bottom: 0;
	}
}


.media__img {
	@include respond-min($bp2) {
		float: left;
		margin-bottom: 0;
		margin-right: $media-img-gutter; }
}

.media--flipped{
	.media__img {
		@include respond-min($bp2) {
			float: right;
			margin-right:0;
			margin-left: $media-img-gutter;
 		}
	}
}
	
/* Island Object - http://goo.gl/1XYHG
----------------------------------*/
.island {
	padding: $island-padding;
	background-color:$color-highlight;
	margin-bottom:1em;

	> :last-child {
		margin-bottom: 0; }
}

.islet {
	padding: $islet-padding; }

	
/* Nav Objects - http://goo.gl/QjtO6
----------------------------------*/

.nav{
	@extend .list-unset, .cf;
}

.nav--inline { @include nav-inline; }
.nav--divided { @include nav-divided; }
.nav--stacked { @include nav-stacked; }
	
// create blocked links
.nav--blocked a {
	display: block;
	padding: .5em;
	background-color: #F5F5F5; 
}

/* Primary Nav
----------------------------------*/
.nav--primary {
	margin: 2em 0;
	padding: 0 2em;
	ul {
		margin-left: 0;
		list-style-type: none;
		li {
			font-size: .8em;
			padding: .6em 0;
			a {
				color: white;
				font-weight: normal;
			}
			&.is-current {
				margin-left: -4.5em;
				background-color: #05788a;
				width: 150%;
				padding-left: 4.5em;
				&:before {
					font-family: $icon-font-family;
					content: '\e800';
					color: white;
					font-size: 2em;
					position: relative;
					margin-right: .4em;
					float: left;
					margin-top: -.4em;
				}
			}
		}
		@include respond-max($bp2) {
			display: none;
		}
	}
	@include respond-max($bp2) {
		margin-bottom: 0;
	}
	.nav-trigger {
		color: white;
		text-align: center;
		margin-bottom: 0;
		display: none;
		@include respond-max($bp2) {
			display: block;
		}
	}
}



/* Misc
----------------------------------*/

.credit{
	margin-top: $baseline*2;
	text-align:center;
	background-color: $color-background-alt;
	color: #848484;
	padding: 1em 0 .8em;
	font-size: .7em;
	a {
		color: #848484;
		font-weight: 600;
	}
}


/* Sidebar
----------------------------------*/

.sidebar {
	padding: 2em 0;
	overflow: hidden;
	position: relative;
	background-color: $color-brand;
	@include respond-min($bp2) {
		height: 100%;
		width: 25%;
		left: 0;
		@include box-sizing(border-box);
		position: fixed;
	}
	@include respond-min($bp4) {
		width: 20%;
	}
}

.content {
	opacity: 0; // fade in container on load with jQuery
	height: 100%;
	overflow-x: hidden;
	background-color: white;
	@include respond-min($bp2) {
		width: 75%;
		float: right;
		@include box-sizing(border-box);
	}
	@include respond-min($bp4) {
		width: 80%;
	}
	h2 {
		&:after {
			content: "";
			width: 110%;
			margin-top: .25em;
			margin-bottom: .25em;
			height: 1px;
			background-color: #ccc;
			display: block;
			position: absolute;
			@include respond-max($bp2) {
				position: relative;
			}
		}
	}
}

.header--home {
	background-image: url("../img/home-bg.jpg");
}

.page-heading {
	position: absolute;
	bottom: .75em;
	margin-bottom: 0;
	color: white;
	text-shadow: 0 1px 0 #ccc;
	&:after {
		content: "";
		width: 0;
		height: 0;
		border-left: .55em solid transparent;
		border-right: .55em solid transparent;
		border-bottom: 0.55em solid white;
		position: absolute;
		bottom: -.8em;
		left: .7em;
		margin-left: -.75em;
	}
}

.logo {
	max-width: 18em;
	width: 75%;
	padding: 0 1.25em;
}