/* Media Object - http://goo.gl/Xf6MJ
----------------------------------*/

.media {
	margin-bottom: $baseline;
	@extend .cf; }
	
.media__img img,
img.media__img {
	margin-bottom: $baseline;
	
	@include respond-min($bp2) {
		margin-bottom: 0; }	
}


.media__body {	
	@include respond-min($bp2) {
		overflow: hidden;
	}

	&:last-child{
		margin-bottom: 0;
	}
}


.media__img {
	@include respond-min($bp2) {
		float: left;
		margin-bottom: 0;
		margin-right: $media-img-gutter; }
}

.media--flipped{
	.media__img {
		@include respond-min($bp2) {
			float: right;
			margin-right:0;
			margin-left: $media-img-gutter;
 		}
	}
}
	
/* Island Object - http://goo.gl/1XYHG
----------------------------------*/
.island {
	padding: $island-padding;
	background-color:$color-highlight;
	margin-bottom:1em;

	> :last-child {
		margin-bottom: 0; }
}

.islet {
	padding: $islet-padding; }

	
/* Nav Objects - http://goo.gl/QjtO6
----------------------------------*/

.nav{
	@extend .list-unset, .cf;
}

.nav--inline { @include nav-inline; }
.nav--divided { @include nav-divided; }
.nav--stacked { @include nav-stacked; }
	
// create blocked links
.nav--blocked a {
	display: block;
	padding: .5em;
	background-color: #F5F5F5; 
}

/* Primary Nav
----------------------------------*/
.nav-container {
	margin: 2em 0;
	padding: 0 2em;
	overflow-x: hidden;
	.nav--primary {
		margin-left: 0;
		list-style-type: none;
		li {
			font-size: .8em;
			padding: .6em 0;
			a {
				color: white;
				font-weight: normal;
			}
			&.is-current {
				margin-left: -4.5em;
				background-color: #05788a;
				width: 150%;
				padding-left: 4.5em;
				&:before {
					font-family: $icon-font-family;
					content: '\e800';
					color: white;
					font-size: 2em;
					position: relative;
					margin-right: .4em;
					float: left;
					margin-top: -.35em;
				}
			}
		}
		// @include respond-max($bp2) {
		// 	display: none;
		// }
	}
	@include respond-max($bp2) {
		margin: 0;
	}
	.nav-toggle {
		color: white;
		text-align: center;
		margin-bottom: 0;
		@include respond-max($bp2) {
			display: block;
			margin-top: .9em;
		}
		@include respond-min($bp2){
			display:none;
		}
	}
	@include respond-max($bp2) {
		background-color: #066372;
	}
}



/* Misc
----------------------------------*/

.credit{
	margin-top: $baseline*2;
	text-align:center;
	background-color: $color-background-alt;
	color: #848484;
	padding: 1em 2em .8em;
	font-size: .7em;
	@include box-sizing(border-box);
	a {
		color: #848484;
		font-weight: 600;
	}
}

.fade-in {
	opacity: 0; // fade in container on load with jQuery
}


/* Sidebar
----------------------------------*/

.sidebar {
	padding: 2em 0;
	position: relative;
	background-color: $color-brand;
	@include respond-min($bp2) {
		height: 100%;
		width: 25%;
		left: 0;
		@include box-sizing(border-box);
		position: fixed;
	}
	@include respond-min($bp4) {
		width: 20%;
	}
	@include respond-max($bp2) {
		padding: 1.2em 0;
	}
}

.content {
	height: 100%;
	overflow-x: hidden;
	background-color: white;
	@include respond-min($bp2) {
		width: 75%;
		float: right;
		@include box-sizing(border-box);
	}
	@include respond-min($bp4) {
		width: 80%;
	}
	h2 {
		&:after {
			content: "";
			width: 110%;
			margin-top: .25em;
			margin-bottom: .25em;
			height: 1px;
			background-color: #ccc;
			display: block;
			position: absolute;
			@include respond-max($bp2) {
				position: relative;
			}
		}
	}
}

.header--home {
	background-image: url("../img/home-bg.jpg");
}

.page-heading {
	position: absolute;
	bottom: .75em;
	margin-bottom: 0;
	color: white;
	text-shadow: 0 1px 0 #BDB8B8;
	&:after {
		content: "";
		width: 0;
		height: 0;
		border-left: .55em solid transparent;
		border-right: .55em solid transparent;
		border-bottom: 0.55em solid white;
		position: absolute;
		bottom: -.8em;
		left: .7em;
		margin-left: -.75em;
	}
}

.logo {
	max-width: 18em;
	width: 75%;
	padding: 0 1.25em;
	@include respond-max($bp2) {
		float: left;
		max-width: 7em;
	}
}

/* Footer
----------------------------------*/

.footer__img {
	max-height: 3.5em;
	margin-top: 1.25em;
	margin-bottom: 1.25em
}

/* Form
----------------------------------*/

form {
	font-family: $font-sans;
	label {
		display: block;
		float: left;
		width: 10%;
		margin-right: 10%;
		font-size: 1em;
		font-weight: 400;
		text-align: left;
		@include respond-max($bp4) {
		    width: 100%;
		} 
	}
	input, textarea {
		width: 80%;
		font-size: .9em;
		padding: .6em;
		border: 1px solid rgba($color-keyline, .8);
		margin-bottom: 10px;
		vertical-align: text-top;
		@include appearance(none);
		@include border-radius(0);
		outline: none;	
		@include respond-max($bp4) {
		    width: 100%;
		} 
	}

	textarea {
		min-height: 10em;
		height: auto;
		vertical-align: top;
		@include transition(height 0.2s);
		resize: vertical;
		text-indent: 0;
	}

	@include respond-max($bp4) {
	    width: 100%;
	    overflow: hidden;
	}
	input[type="submit"] {
		@include respond-min($bp2) {
			float: right;
		}
	}
}