/* -- WP caption images -- */
.wp-caption {
	text-align: center;
	margin-bottom: $baseline;
	
	img {
		display: inline; }
}

.wp-caption-text {
	color: #999;
	margin: 0;
	padding: .5em 0;
	font-size: .875em; }

/* -- WP images -- */
.alignleft {
	@include respond-min($bp4) {
		float: left;
		margin-right: $media-img-gutter;
		margin-bottom: $baseline; }
}	
	
.alignright {
	@include respond-min($bp4) {
		float: right;
		margin-left: $media-img-gutter;
		margin-bottom: $baseline; }	
}

/* -- Pagination -- */
.pagination {
	margin-top: $baseline;
	text-align: center;
}

.page-numbers {
	padding: .25em .6em;
	background: $color-brand;
	color: white;
	font-weight: 500;
	line-height: 1;
	&:visited, &:hover {
		color: white;
	}
}

.current {
	background: $color-highlight;
}

.prev, .next {
	background: none;
	color: $color-highlight;
	&:visited, &:hover {
		color: $color-highlight;
	}
}

/* -- Better anchor links -- */

.mwm-aal-container {
	background-color: $color-background-alt;
	padding: 1.5em;
	margin-bottom: 1.5em;
	font-size: .9em;
	color: $color-highlight;
	a {
		font-weight: 500;
	}
	ul { 
		margin: 0;
		li {
			width: 48%;
			padding-right: 1%;
			vertical-align: top;
			display: inline-block;
			@include respond-max($bp2) {
				width: 100%;
			}
			&:before {
				font-family: "tarva";
				content: '\e803';
				color: $color-highlight;
				font-size: 2em;
				position: relative;
				margin-right: .4em;
				float: left;
				line-height: 1.2;
				margin-top: -.18em;
			}
		}
	}
}

.mwm-aal-title {
	@extend %h2;
	color: $color-highlight;
}