/* Media Object - http://goo.gl/Xf6MJ
----------------------------------*/

.media {
	margin-bottom: $baseline;
	@extend .cf; }
	
.media__img img,
img.media__img {
	margin-bottom: $baseline;
	
	@include respond-min($bp2) {
		margin-bottom: 0; }	
}

.media__body {	
	@include respond-min($bp2) {
		overflow: hidden;
	}

	&:last-child{
		margin-bottom: 0;
	}
}

.media__img {
	@include respond-min($bp2) {
		float: left;
		margin-bottom: 0;
		margin-right: $media-img-gutter; }
}

.media--flipped{
	.media__img {
		@include respond-min($bp2) {
			float: right;
			margin-right:0;
			margin-left: $media-img-gutter;
 		}
	}
}
	
/* Island Object - http://goo.gl/1XYHG
----------------------------------*/
.island, .download {
	padding: $island-padding/1.2;
	background-color: $color-background-alt;
	margin-bottom: $baseline;
	border: 1px solid darken($color-background-alt, 4%);

	> :last-child {
		margin-bottom: 0; }
}

.islet {
	padding: $islet-padding; }

.download {
	position: relative;
	white-space: nowrap;
	margin-bottom: 1em;
	a {
		font-weight: normal;
		@include respond-max($bp1) {
			text-overflow: ellipsis;
			overflow: hidden;
			width: 9em;
			display: inline-block;
			vertical-align: top;
		}
	}
	&:before {
		font-family: $icon-font-family;
		content: '\e806';
		color: darken($color-background-alt, 10%);
		font-size: 2em;
		position: relative;
		margin-right: .6em;
		float: left;
		margin-top: -.4em;
	}
}


.block-letters {
	list-style-type: none;
	display: inline-block;
	margin-left: 0;
	li {
		display: inline-block;
		margin: 0 .5em .5em;
		color: white;
		text-align: center;
		a {
			display: block;
			width: 1.5em;
			padding: 0 .5em;
			color: white;
			background-color: $color-brand;
			@include transition(background-color, .3s);
			&:hover {
				background-color: $color-highlight;
				@include transition(background-color, .3s);
			}
		}
	}
}


/* Nav Objects - http://goo.gl/QjtO6
----------------------------------*/

.nav{
	@extend .list-unset, .cf;
}

.nav--inline { @include nav-inline; }
.nav--divided { @include nav-divided; }
.nav--stacked { @include nav-stacked; }
	
// create blocked links
.nav--blocked a {
	display: block;
	padding: .5em;
	background-color: #F5F5F5; 
}


/* Video
----------------------------------*/
.fluid-width-video-wrapper {
	margin-bottom: $baseline;
	iframe {
		border-bottom: 5px solid $color-brand;
	}
	&:after {
		content: '';
		width: 0; 
		height: 0; 
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid $color-brand;
		position: relative;
		top: 2.5em;
		left: 2.5em;
		@include respond-max($bp3) {
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-top: 15px solid $color-brand;
		}
	}
}


/* Primary Nav
----------------------------------*/
.nav-container {
	margin: 2em 0;
	padding: 0 2em;
	overflow-x: hidden;
	.nav--primary {
		margin-left: 0;
		list-style-type: none;
		> li {
			font-size: .8em;
			padding: .6em 0 .55em;
			@include respond-max($bp2) {
				font-size: .9em;
			}
			a {
				color: white;
				font-weight: normal;
			}
			&.is-current, &.is-root-parent {
				margin-left: -4.5em;
				background-color: #05788a;
				width: 150%;
				padding-left: 4.5em;
				&:before {
					font-family: $icon-font-family;
					content: '\e803';
					color: white;
					font-size: 2em;
					font-size: 1.65rem;
					position: relative;
					margin-right: .4em;
					float: left;
					line-height: 1.2;
					margin-top: -.18em;
				}
			}
		}
	}
	@include respond-max($bp2) {
		margin: 0;
		background-image: url('../img/shape-bg--alt.svg');
		@include background-size(cover);
	}
}

.nav-toggle {
	color: white;
	text-align: center;
	margin-bottom: 0;
	display: block;
	@include respond-min($bp2){
		display:none;
	}
	&:visited, &:hover {
		color: white;
	}
	&:active {
		top: 0;
	}
}

.nav-toggle--close {
	text-align: left; 
	padding: 1.5em 1em 1.5em 0;
}

.nav-toggle--open {
	font-size: 1.5em;
	float: right;
	background-color: #066372;
	padding: .75em 1.25em;
	margin: 0;
}

/* Tertiary Nav
----------------------------------*/

.nav-tertiary {
	display: inline;
	margin: 0;
	line-height: 1;
	li {
		&:after {
			content: " | ";
		}
	}
}

/* Misc
----------------------------------*/

.nav--page, .credit {
	color: #848484;
	padding: 1em 7.5% .8em;
	font-size: .7em;
	line-height: 1.7;
	@include box-sizing(border-box);
	a {
		color: #848484;
		font-weight: 600;
	}
	@include respond-max($bp2) {
		line-height: 2;
	}
}

.nav--page {
	color: white;
	background-color: #ff520d;
	a {
		color: white;
	}
}


.credit {
	padding: 1em 4em .8em;
	border: 1px solid darken($color-background-alt, 4%);
	background-color: $color-background-alt;
	text-align:center;
	@include respond-max($bp2) {
		padding: 1em 3em .8em;
	}
}

.credit--fixed {
	@include respond-min($bp2) {
		position: fixed;
		bottom: 0;
		width: 80%;
	}
}

.fade-in {
	opacity: 0; // fade in container on load with jQuery
}

.block-link {
	background-color: $color-brand;
	height: 10em;
	padding: 0 1.5em;
	color: white;
	text-align: center;
	h5 {
		@include vertical-align;
	}
	a {
		color: white;
	}
	@include respond-max($bp2) {
		height: 8em;
	}
	@include respond-max($bp1) {
		height: 6em;
	}
}

.page-heading {
	position: absolute;
	bottom: .75em;
	margin-bottom: 0;
	color: white;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	&:after {
		content: "";
		width: 0;
		height: 0;
		border-left: .55em solid transparent;
		border-right: .55em solid transparent;
		border-bottom: 0.55em solid white;
		position: absolute;
		bottom: -.75em;
		left: .7em;
		margin-left: -.75em;
	}
}

.page-heading--alt {
	&:after {
		border-bottom: 0.55em solid #ff520d;
	}
}

.archive-entry {
	margin-bottom: $baseline;
	&:last-child {
		margin-bottom: 0;
	}
}


/* Footer
----------------------------------*/

.footer {
	background: white;
	padding-bottom: $baseline;
}

.footer__img {
	max-height: 3.5em;
	margin-top: 1.25em;
	margin-bottom: 1.25em
}

/* Form
----------------------------------*/

.contact-form {
	font-family: $font-sans;
	label {
		display: block;
		float: left;
		width: 10%;
		margin-right: 10%;
		font-size: 1em;
		font-weight: 400;
		text-align: left;
		@include respond-max($bp4) {
		    width: 100%;
		} 
	}
	input:not([type=submit]), textarea {
		width: 80%;
		font-size: .9em;
		padding: .6em;
		border: 1px solid rgba($color-keyline, .8);
		margin-bottom: 10px;
		vertical-align: text-top;
		@include appearance(none);
		@include border-radius(0);
		outline: none;	
		@include respond-max($bp4) {
		    width: 100%;
		} 
	}

	textarea {
		min-height: 10em;
		height: auto;
		vertical-align: top;
		@include transition(height 0.2s);
		resize: vertical;
		text-indent: 0;
	}

	@include respond-max($bp4) {
	    width: 100%;
	    overflow: hidden;
	}
	input[type="submit"] {
		@include respond-min($bp4) {
			float: left;
			margin-left: 20%;
		}
	}
}


.blog-header {
	.blog-header__date, .blog-header__title {
		display: inline-block;
		margin-bottom: 0;
	}
	.blog-header__date {
		float: right;
		margin-top: .5em;
		text-align: right;
	}
	.blog-header__date--mobile {
		display: none;
		@include respond-max($bp2) {
			display: inline-block;
		}
		@include respond-max($bp1) {
			display: none;
		}
	}
	.blog-header__date--desktop {
		@include respond-max($bp2) {
			display: none;
		}
	}
	.blog-header__title {
		color: $color-brand;
		a {
			color: $color-brand;
		}
	}
	@extend %underline;
}

.blog__category {
	text-transform: capitalize;
	margin-bottom: $baseline/2;
}

.content__bg {
	background-image: url("../img/shape.svg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: -7em;
}

.content__overlay {
 	@include background-image(linear-gradient(transparent, rgba(black,.6)));
	position: absolute;
	height: 100%;
	width: 100%;
}

.content__body {
	h2 {
		@extend %underline;
	}
}

.bio {
	background-color: $color-background-alt;
	border: 1px solid darken($color-background-alt, 4%);
	position: relative;
	font-size: 90%;
	overflow: auto;
	margin-bottom: 1.5em;
	.bio__avatar {
		float:right;
		padding-left: 1em;
		max-width: 7em;
		@include respond-max($bp4) {
			float: none;
			text-align: center;
			padding-left: 0;
		}
		@include respond-max($bp2) {
			float:right;
			padding-left: 1em;
		}
		@include respond-max($bp1) {
			float: none;
			text-align: center;
			padding-left: 0;
		}
	}
	.bio__avatar--alt {
		@include respond-max($bp4) {
			float: none;
			text-align: center;
			padding-left: 0;
		}
	}
}

.more-link {
	&:after {
		font-family: "tarva";
		content: '\e803';
		font-size: 1em;
		position: relative;
		margin-left: .4em;
		top: .05em;
		@include respond-max($bp2) {
			top: .1em;
		}
	}
}

.listing-title {
	margin-bottom: .5em; 
	a {
		font-weight: normal;
	}
}

.listing-title, .listing-subtitle {
	text-transform: capitalize;
	font-weight: normal;
}

.listing-title--bio {
	margin: .4em 0;
	color: $color-highlight;
	clear: left;
}

.ribbon {
	position: absolute;
	right: 1em;
	top: -1px;
	background-color: $color-brand;
	border-left: .8em solid transparent;
	border-right: .8em solid transparent;
	border-bottom: .6em solid $color-background-alt;
	width: 0;
	h5 {
		font-size: .6em;
		padding-right: 1em;
		color: white;
		padding-bottom: 1em;
		@include transform(rotate(-90deg));
		text-transform: uppercase;
		margin-top: $baseline;
	}
}

.intro {
	overflow: auto;
	background-color: #ff520d;
	background-image: url('../img/shape-bg.svg');
	position: relative;
	&:after {
		content: "";
		width: 0;
		height: 0;
		border-left: .75em solid transparent;
		border-right: .75em solid transparent;
		border-bottom: 0.75em solid white;
		position: absolute;
		bottom: 0;
		margin: auto;
		left: 50%;
		margin-left: -.75em;
	}
}

.intro-text {
	padding: 1.5em 0;
	font-size: 1.4em;
	color: white;
	font-weight: 400;
	.intro-text__highlight {
		font-size: 1.7em;
		color: white;
		font-weight: bolder;
		@include respond-max($bp2) {
			font-size: 1.55em;
		}
	}
	@include respond-max($bp2) {
		font-size: 1.25em;
	}
}