// Major Breakpoints
$bp1: 30em;
$bp2: 48em;
$bp3: 62em;
$bp4: 78em;

// Colours
$color-brand: #02899e;
$color-text: $color-brand;
$color-highlight: #ff520d;
$color-background: #FFF;
$color-background-alt: #efefef;

$color-link: $color-highlight;
$color-link-visited: $color-highlight;
$color-link-hover: darken($color-highlight, 10%);

// Typography
$baseline: 1.5em;
$font-heading: "brandon-grotesque", sans-serif;
$font-sans: "proxima-nova", sans-serif;
$font-serif: serif;

// Borders
$color-keyline: #999;

// Layout
$container-max-width: 68.5em;
$media-img-gutter: 2em;
$island-padding: 1.5em;
$islet-padding: $island-padding / 2;

// Asset fonts
$icon-font-url: "../fonts/tarva";
$icon-font-family: "tarva";