// Major Breakpoints
$bp1: 30em;
$bp2: 48em;
$bp3: 62em;
$bp4: 78em;

// Colours
$color-brand: #02899e;
$color-text: $color-brand;
$color-highlight: #ff520d;
$color-background: #FFF;

$color-link: $color-highlight;
$color-link-visited: #316CB2;
$color-link-hover: #222;

// Typography
$baseline: 1.5em;
$font-heading: "Brandon Grotesque", sans-serif;
$font-sans: "Proxima Nova", sans-serif;
$font-serif: serif;

// Borders
$color-keyline: #999;

// Layout
$container-max-width: 68.5em;
$media-img-gutter: 2em;
$island-padding: 1.5em;
$islet-padding: $island-padding / 2;

// Asset fonts
$icon-font-url: "../fonts/Fontello";
$icon-font-family: "Fontello";