.blog-header {
	@extend %underline;
}

.blog-header__date, .blog-header__title {
	display: block;
	@include respond-min($bp1) {
		display: inline;
	}
}

.blog-header__title {
	color: $color-brand;
	a {
		color: $color-brand;
	}
}

.blog-header__date {
	color: #ccc;
	margin-right: .5em;
}

.blog__category {
	text-transform: capitalize;
	margin-bottom: $baseline/2;
}

.archive-entry {
	margin-bottom: $baseline;
	&:last-child {
		margin-bottom: 0;
	}
}