.content-block {
	margin-bottom: $baseline;
}

.content-block__heading {
	background-color: $color-brand;
	color: white;
	padding-left: .5em;
	line-height: 1.6em;
	margin: 0;
	font-size: 1.2em;
	a, a:visited {
		color: white;
	}
}

.content-block__heading--small {
	padding-left: 1em;
	font-size: 1em;
	line-height: 2;
	a {
		font-weight: 400;	
	}
}

.content-block__text {
	padding: 1em;
	background-color: $color-background-alt;
}

.content-block__img {
	height: 7.15em;
	@include background-size(cover);
	background-repeat: no-repeat;
	background-position: center 46%;
}