.content {
	min-height: 100%;
	min-height: 100vh;
	position: relative;
	background-color: $color-background-alt;
	@include respond-max($bp1) {
		min-height: 0;
	}
}

.content__bg {
	background-image: url("../img/shape.svg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: -7em;
}

.content__overlay {
 	background-image: linear-gradient(transparent, rgba(black,.6));
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 0;
	pointer-events: none;
}

.content__overlay--subtle {
	height: 50%;
	background-image: linear-gradient(transparent, rgba(black,.35));
}

.content__img {
	@include respond-min($bp1) {
		margin-top: -1.5em;	
	}
	margin-bottom: 2em;	
	max-width: 30em;
	width: 100%;
}

.content__body {
	h2 {
		@extend %underline;
	}
}