.credit {
	padding: 1em 4em .8em;
	border-top: 1px solid darken($color-background-alt, 4%);
	background-color: $color-background-alt;
	text-align:center;
	position: relative;
	bottom: 0;
	@include respond-max($bp2) {
		padding: 1em 3em .8em;
	}
}

.credit--fixed {
	@include respond-min($bp2) {
		position: fixed;
		bottom: 0;
		width: 80%;
	}
}