.download {
	@extend %island;
	position: relative;
	white-space: nowrap;
	margin-bottom: 1em;
	a {
		font-weight: normal;
		@include respond-max($bp1) {
			text-overflow: ellipsis;
			overflow: hidden;
			width: 12em;
			display: inline-block;
			vertical-align: top;
		}
	}
	&:before {
		font-family: $icon-font-family;
		content: '\e806';
		color: darken($color-background-alt, 10%);
		font-size: 2em;
		position: relative;
		margin-right: .6em;
		float: left;
		margin-top: -.4em;
	}
}