.footer {
	background: white;
	padding-bottom: $baseline;
	margin-bottom: 0;
	position: relative;
	border-top: 1px solid $color-keyline;
}

.footer--no-border {
	border-top: 0;
}

.footer__img {
	max-height: 3.5em;
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	border: 0;
}