.intro {
	overflow: auto;
	background-color: #ff520d;
	background-image: url('../img/shape-bg.svg');
	position: relative;
	&:after {
		content: "";
		width: 0;
		height: 0;
		border-left: .75em solid transparent;
		border-right: .75em solid transparent;
		border-bottom: 0.75em solid white;
		position: absolute;
		bottom: -1px;
		margin: auto;
		left: 50%;
		margin-left: -.75em;
		z-index: 9999;
	}
}

.intro__text {
	padding: 1.5em 0;
	font-size: 1.4em;
	color: white;
	font-weight: 400;
	@include respond-max($bp2) {
		font-size: 1.25em;
	}
}

.intro__text--large {
	@include respond-min($bp1) {
		padding: 3em 0;
		font-size: 175%;
	}
}

.intro__highlight {
	font-size: 1.7em;
	color: white;
	font-weight: bolder;
	@include respond-max($bp2) {
		font-size: 1.55em;
	}
}