.listing__title {
	margin-bottom: .5em; 
	a {
		font-weight: normal;
	}
}

.listing__title, .listing__subtitle {
	text-transform: capitalize;
	font-weight: normal;
}

.listing__title--bio {
	margin: .4em 0;
	color: $color-highlight;
	clear: right;
}

.listing__subtitle {
	font-family: $font-sans;
}

.listing__subtitle--bio {
	font-size: 1em;
}