$old-ie: true;
$mqs-up-to: 65em;
@import "screen";

/*----------------------------------------------------------------------------------------*\
 $.IE SPECIFIC STYLES
\*----------------------------------------------------------------------------------------*/
.lt-ie9 {
	.content {
		overflow-y: auto;
	}
	.ribbon {
		display: none;
	}
	li {
		&.is-current, &.is-root-parent {
			&:before {
				font-size: 2.5em;
				line-height: 2.5;
			}
		}
	}

	.grid__cell {
		zoom: 1;
		*display: inline;
	}
}
